.banner {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("../img/bg.jpg");
        // background-attachment: fixed;
        background-size: contain;
        background-position: center;
        background-repeat: repeat;
        z-index: -1;
        @media screen and (max-width: 768px) {
            background-size: cover;
        }
    }
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, black, rgba(black, 0.3), black);
    }

    .triangle-up {
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 50px solid #555;
    }

    .pos {
        &-one {
            position: absolute;
            // right: 15%;
            left: 55%;
            top: 60%;
            transform: translate(-50%, -50%);
            @media screen and (max-width: 768px) {
                left: 84%;
                top: 36%;
            }
        }
        &-two {
            position: absolute;
            // right: 15%;
            left: 35%;
            top: 55%;
            transform: translate(-50%, -50%);
        }
    }

    .triangle-right {
        // width: 0;
        // opacity: 0.3;
        // height: 0;
        // border-top: 25px solid transparent;
        // border-left: 50px solid #555;
        // border-bottom: 25px solid transparent;
        // &::before
        width: 100px;
        height: 100px;
        border: 4px solid rgba(#555, 0.3);
    }

    .title {
        position: absolute;
        left: 30%;
        top: 40%;
        transform: translate(-50%, -50%);
        // z-index: ;
        width: 50%;
        // text-align: center;
        @media screen and (max-width: 768px) {
            width: 90%;
            top: 24%;
            left: 50%;
        }
        h2 {
            line-height: 1;
            font-size: 6rem;
            @media screen and (max-width: 768px) {
                font-size: 3rem;
            }
        }
    }
    .gambar {
        position: absolute;
        // inset: 0;
        top: 15%;
        width: 50%;
        // display: none;
        // left: 10%;
        right: 0%;
        @media screen and (max-width: 768px) {
            top: 38%;
            width: 100%;
        }
        &::before {
            content: "";
            position: absolute;
            bottom: -10%;
            opacity: 0.5;
            right: 10%;
            height: 70%;
            border: 6px solid silver;
            z-index: -1;
            width: 50%;
        }
        .d-block {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        &__one {
            border: 4px solid white;
            display: inline-block;
            // left: 10%;
            // bottom: 10%;
            width: 150px;
            margin-right: 16px;
            margin-bottom: 16px;
            height: 200px;
            background: black;
            // position: absolute;
            // border-radius: 16px;
            // // height: auto;
            &.rotate-right {
                transform: rotate(2deg);
            }
            &.rotate-left {
                transform: rotate(-2deg);
            }
            @media screen and (max-width: 768px) {
                height: 100px;
            }
            img {
                width: 100%;
                // border-radius: 50%;
                // border-radius: 8px;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.field {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-around;
    // width: 300px;
}

.mouse {
    width: 50px;
    height: 90px;
    border: 3px solid #333;
    border-radius: 60px;
    position: relative;
    &::before {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 60px;
    }
}

.scroll {
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
    &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-left: 2px solid #333;
        border-bottom: 2px solid #333;
        transform: rotate(-45deg);
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

.arrow {
    width: 0;
    height: 40px;
    border: 1px solid #333;
    position: relative;
    animation: scroll 1.5s infinite;
    -webkit-animation: scroll 1.5s infinite;
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 100%;
        left: -5px;
        width: 1px;
        height: 10px;

        // triangle
        border-top: 10px solid #333;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
}

@keyframes scroll {
    0% {
        height: 40px;
    }
    30% {
        height: 70px;
    }
    60% {
        height: 40px;
    }
}

@-webkit-keyframes scroll {
    0% {
        height: 40px;
    }
    30% {
        height: 70px;
    }
    65% {
        height: 40px;
    }
}

.ceksx {
    position: absolute;
    left: 50%;
    top: 90%;
    z-index: 12;
    transform: translate(-50%, -50%);
}
