.berita {
    &#agustus {
        .no-rotate {
            @media screen and (max-width: 768px) {
                position: relative;
                height: 220px;
            }
        }
        .foto {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
    .jepret {
        width: fit-content;
        border: 6px solid white;
        height: auto;
        transform: rotate(-3deg);
        margin-bottom: 24px;
        border-radius: 16px;
        &.no-rotate {
            transform: rotate(0deg) !important;
            border: 0px solid white;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
        @media screen and (max-width: 768px) {
            width: 75%;
            border: 3px solid white;
        }
        &.reversex {
            transform: rotate(3deg) !important;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .sticky-mode {
        .wrap-kaleidoskop {
            @media screen and (max-width: 768px) {
                position: initial;
            }
        }
    }

    .transparan {
        position: absolute;
        right: -16%;
        width: 80%;
        z-index: -1;
        top: 0;
        height: fit-content;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
#container {
    overflow: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    filter: sepia(30%);
    // border: solid 6px $primary;
    @media screen and (max-width: 766px) {
        width: 100%;
        height: 30vh;
    }
}
#container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 150px 20px black;
    mix-blend-mode: multiply;
}
#pic {
    opacity: 1;
}
.pic {
    position: absolute;
}

.wi-70 {
    @media screen and (max-width: 768px) {
        width: 85%;
    }
}

.wi-70r {
    @media screen and (max-width: 768px) {
        width: 85%;
        // text-align: right;
        float: right;
    }
}

.clear {
    clear: both;
}

.is-mobile {
    display: none !important;
    @media screen and (max-width: 768px) {
        display: block !important;
    }
}

.with-bg {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("../img/bg.jpg");
        // background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        z-index: -1;
        @media screen and (max-width: 768px) {
            background-size: cover;
        }
    }
    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, black, rgba(black, 0.3), black);
    }
}

.infox {
    background: #0e3e5e;
    padding: 8px;
    border-top: 3px solid #307fb5;
    p {
        margin-bottom: 0;
        font-family: "Fraunces" !important;
        font-size: 1.3rem;
        text-align: center;
    }
}

.boxx {
    position: absolute;
    width: 78%;
    left: 56%;
    top: 45%;
    /* transform: translate(-50%, -50%) rotate(2deg); */
    /* height: 100px; */
    border-top: 2px dashed #fff;
    z-index: 8;
    @media screen and (max-width: 768px) {
        border-top: none;
    }

    &.ke-kiri {
        // position: absolute;
        // width: 78%;
        left: -30% !important;
        top: 65% !important;
        // border-top: 2px dashed #fff;
        // z-index: 8;
        &::after {
            position: absolute;
            content: "";
            inset: 0;
            width: 100%;
            height: 100%;
            border: 2px dashed;
            @media screen and (max-width: 768px) {
                border: none;
            }
        }
        @media screen and (max-width: 768px) {
            left: 15% !important;
            top: 80% !important;
        }
        .namex {
            text-align: left;
            // background: #fff;
            // width: 50%;
            // font-size: 0.8rem;
            left: 0;
            right: initial;
            padding: 4px 8px;
            font-weight: bold;
            position: absolute;
            &::after {
                position: absolute;
                content: "";
                /* inset: 0; */
                top: -73%;
                width: 50%;
                right: 0;
                // height: 100%;
                height: 60px;
                border-left: 3px dashed white;
                z-index: -1;
            }
            @media screen and (max-width: 768px) {
                text-align: center;
            }
        }
    }
    .namex {
        text-align: right;
        background: #fff;
        width: 50%;
        font-size: 0.8rem;
        right: 0;
        padding: 4px 8px;
        font-weight: bold;
        position: absolute;
        @media screen and (max-width: 768px) {
            width: 90%;
        }
    }
}
